*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0px;
align-items: center;
height: 45px;
}
#logo {
margin: 10px 34px;
}
#logo img{
    height: 50px;
margin: 3px 6px;

}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#navbar ul li{
    list-style: none;
    font-size:1.3rem;
}
#navbar ul li a{
    color: white;
display: block;
padding: 3px 22px;
border-radius: 20px;
text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 600px;
    justify-content:  center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('../pic.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 663px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: rgb(101, 247, 242);
    text-align: center;
    font-family: 'Bree Serif', serif;
    margin-bottom: 20px;
    font-size: 7.2rem;
}
#home p{
    color:black;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif

}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(39, 34, 34);
padding: 30px;
        margin: 2px 70px;
    border-radius: 28px;
    background:white;
    margin-bottom: 20px;
    width: 200px;
    height: 350px;
    align-items: center;

    
}

#services .box img{
    height: 70px;
    margin:auto;
    display: block;
    


}
#services .box p{
    font-family: 'Bree Serif', serif;
}

#client-section{
    position: relative;
    height: 400px;
    

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../pic.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    
    z-index: -1;
    opacity:0.4;


}
#clients{
    display:flex;
    justify-content: center;
    align-items: center;
}
#client-item{
    padding:34px;
    

}
#clients img{
    height: 60px;
    margin-top: 40px;
}
#contact{
    position: relative;

    

}

#contact-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.7;

    background: url('../contact.jpg') no-repeat center center/cover;
    

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    height: 600px;
    

    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#footer{
    background:black;
    color: white;
    padding: 9px 20px;

}
.h-primary{ 
    font-family: 'Bree Serif', serif;
font-size: 2.8rem;
padding: 12px;

}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
    }

.btn{
    padding: 6px 20px;
    border: none;
    background-color: rgb(15, 157, 233);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}
.center{
text-align: center;
}